.subscribe-button {
    background-color: red;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.2s;
    vertical-align: top;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.subscribe-button:hover {
    opacity: 0.6;
}

.subscribe-button:active {
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: none;
    margin-right: 6px;
    opacity: 0.3;
}

.join-button:hover{
    background-color: rgb(58, 141, 230);
    color: white;
}

.join-button:active{
    opacity: 0.5;
}

.join-button {
    background-color: white;
    border-color: rgb(58, 141, 230);
    color: rgb(58, 141, 230);
    border-style: solid;
    border-width: 1.5px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.2s, color 0.2s;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
.tweet-button {
    background-color: rgb(26, 121, 255);
    color: white;
    border-color: rgb(26, 121, 255);
    border: none;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.2s;
    vertical-align: top;
}